.Headline {
    width: 100%;
    /* TODO: Don't really want to apply context-specific style here. Find a workaround. */
    margin-top: auto;
}

.Headline span {
    display: block;
    margin-bottom: 1rem;
    /* Min vw 450px | Max vw 1200px
    Calc from https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
    font-size: clamp(2rem, 1.1rem + 3.2vw, 3.5rem);
    letter-spacing: 2px;

}

@media screen and (min-width: 450px) {
    .Headline {
        max-width: 75%;
    }
}